/* .social-login-media {
  height: 100vh;
}

.social-login-well-media {
  height: 10%;
  padding-top: 8%;
  font-family: "Carter One", cursive;
  font-family: "Heebo", sans-serif;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "Pacifico", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Permanent Marker", cursive;
  background-color: rgb(232 124 231);
  font-size: xx-large;
  margin-top: 10%;
}

.social-login-form-media {
  height: 70%;
} */

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-page-img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}
