.social-login-media {
  height: 100vh;
  /* border: 1px solid red; */
}

.social-login-well-media {
  /* border: 1px solid rgb(35, 46, 43); */
  height: 10%;
  padding-top: 8%;
  font-family: "Carter One", cursive;
  font-family: "Heebo", sans-serif;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "Pacifico", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "Permanent Marker", cursive;
  background-color: rgb(232 124 231);
  font-size: xx-large;
  margin-top: 10%;
}

.social-login-form-media {
  /* border: 1px solid rgb(0, 255, 13); */
  height: 70%;
}
