.formsearch-first-div {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.formsearch-deiv-input {
  /* border: solid 1px yellow; */
  width: 100%;
  height: 5%;
  margin-top: 5%;
}

#input-search-form {
  width: 90%;
  height: 90%;
  outline: none;
  padding-left: 2%;
  border: 3px solid rgb(232 124 231);
}

.formsearch-results-div {
  /* border: solid 1px blue; */
  width: 100%;
  height: 90%;
  margin-top: 5%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.formsearch-result-ul {
  width: 80%;
  height: 6%;
  border: 1px solid rgb(153, 149, 149);
}

.div-img-result-searchform {
  width: 30%;
  height: 90%;
}

.div-no-results {
  margin-top: 70%;
}

.formsearch-result-img {
  width: 100%;
  height: 100%;
}
.div-name-formsearch {
  width: 50%;
  height: 90%;
}
